/** Resets **/
:root {
    --primary-color: #e00b1aff;
    --primary-hover: #c20915ff;
    --secondary-color: #D3D7DE;
    --accent-color: #F99E1F;
    /*--secondary-hover: #646464ff;*/
    --dark-text-color: #1B1320;
    --dark-text-color-transparency:#1B132060; 
    --light-text-color: #F9F9FB;
    --light-background-color: #fafafaff;
    --light-transparency: #fafafa80;
    --dark-background-color: #121212ff;
    --dark-transparency: #12121280;

    --light-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    --dark-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    --img-width: 100px;
    --img-hight: 50px;
    --img-quantity:8;

    --ff-Monstserrat: 'Montserrat', sans-serif;
    --ff-Roboto: 'Roboto', sans-serif;

    --service-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 8h6V6H9zM2 20v-5h4v1h2v-1h8v1h2v-1h4v5zm0-6v-4q0-.825.588-1.412T4 8h3V6q0-.825.588-1.412T9 4h6q.825 0 1.413.588T17 6v2h3q.825 0 1.413.588T22 10v4h-4v-2h-2v2H8v-2H6v2z'/%3E%3C/svg%3E");
    --security-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-3.475-.875-5.738-3.988T4 11.1V5l8-3l8 3v6.1q0 3.8-2.262 6.913T12 22m0-2.1q2.425-.75 4.05-2.963T17.95 12H12V4.125l-6 2.25v5.175q0 .175.05.45H12z'/%3E%3C/svg%3E");
    --mail-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12v1.45q0 1.475-1.012 2.513T18.5 17q-.875 0-1.65-.375t-1.3-1.075q-.725.725-1.638 1.088T12 17q-2.075 0-3.537-1.463T7 12t1.463-3.537T12 7t3.538 1.463T17 12v1.45q0 .65.425 1.1T18.5 15t1.075-.45t.425-1.1V12q0-3.35-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20h5v2zm0-7q1.25 0 2.125-.875T15 12t-.875-2.125T12 9t-2.125.875T9 12t.875 2.125T12 15'/%3E%3C/svg%3E");
    --location-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 12q.825 0 1.413-.587T14 10t-.587-1.412T12 8t-1.412.588T10 10t.588 1.413T12 12m0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2t5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22'/%3E%3C/svg%3E");
    --phone-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 23q-.825 0-1.412-.587T5 21V3q0-.825.588-1.412T7 1h10q.825 0 1.413.588T19 3v3.1q.45.175.725.55T20 7.5v2q0 .475-.275.85T19 10.9V21q0 .825-.587 1.413T17 23zm0-2h10V3H7zm0 0V3zm5-1q.425 0 .713-.288T13 19t-.288-.712T12 18t-.712.288T11 19t.288.713T12 20'/%3E%3C/svg%3E");
    --arrow-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M16.15 13H5q-.425 0-.712-.288T4 12t.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z'/%3E%3C/svg%3E");
    --info-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 17h2v-6h-2zm1-8q.425 0 .713-.288T13 8t-.288-.712T12 7t-.712.288T11 8t.288.713T12 9m0 13q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
    




}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-background-color));
    color: var(--dark-text-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-Monstserrat);
}

p{
    font-family: var(--ff-Roboto);
    line-height: 1.35;  
}

a {
    color: var(--light-text-color);
    text-decoration: none;
    font-family: var(--ff-Roboto);
    
}


li {
    list-style: none;
}


/** Topbar & Navigation Styles **/

.topbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem 4.75rem;
    width: 100%;
    height: 5rem;
    transition: all 0.3s ease-in    ;
    background-color: var(--dark-background-color);
}

.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changeBg{
    height: 4.375rem;
    backdrop-filter: blur(10px);
    background-color:transparent;
    box-shadow: var(--dark-shadow);
}

.changeBg .logo{
    color: var(--dark-text-color);
}

.changeBg .nav-links .nav-item a{
    color: var(--dark-text-color);
}

.changeBg .nav-item a::after{
    color: var(--dark-text-color);
    background-color: var(--dark-text-color);
}

.logo {
    height: 2.5rem;
    width: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--light-text-color);
    font-family: var(--ff-Monstserrat);
}

nav {
    width: 50%;

}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.nav-item {
    font-size: 1.2rem;
}

.nav-item a {
    color: var(--light-text-color);
    text-transform: capitalize;

}
.nav-item a::after{
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    background-color: var(--light-text-color);
    transition: width 0.3s ease-in-out;
}

.nav-item a:hover::after {
    width: 100%;
}

.btn-cta{
    max-width: 284px;
    padding: .5rem 2rem;
    border: none;   
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff
}
.primary{
    background-color: var(--primary-color);
    box-shadow: var(--dark-shadow);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn-cta a{
    color: #fff;
    text-decoration: none;
}

.primary:hover{
    background-color: var(--primary-hover);
    transform: scale(1.05);
}

/** Hero Section Styles **/

.hero-section {
    width: 100%;
    height: 100dvh;
    padding: 0 4.75rem;
    background: linear-gradient(180deg, var(--dark-background-color) 0%, var(--light-background-color) 100%);

}
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--light-text-color);
}

.hero-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;

}

.hero-description{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 10rem;
}


.btn-cta:hover .arrow-right{
    transform: translateX(5px);
}

.secondary {
    background-color: var(--light-transparency);
    transition: background-color 0.3s ease;
}

.secondary:hover{
    background-color: gray;
}

.secondary:hover svg{
    transform: translateX(0);
}

/** Counters **/

.counters-wrapper{
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    transform: translateY(-250px);
    border: 1px solid var(--light-text-color);
    border-radius: 12px;
}
.counter-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 100px;
    color: var(--dark-transparency);
    background-color: var(--light-transparency);
    backdrop-filter: blur(10px);
    font-family: var(--ff-Roboto);
}

.counter-item:nth-of-type(1){
    border-radius: 12px 0 0 12px;
}

.counter-item:nth-of-type(2){
    border-left: 1px solid var(--light-text-color);
    border-right: 1px solid var(--light-text-color);
}
.counter-item:nth-of-type(3){
    border-radius: 0 12px 12px 0;
}

.counter{
    color: var(--primary-color);
    font-size: 2rem;
}

.counter-description{
    font-size: 1.2rem;

}

/** Slideshow Section **/

.marquee{
    width: 100%;
    hight: 100px;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 10% 90%, transparent);
    position: relative;
    background-color: var(--light-background-color);)
}

.marquee-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    min-width: calc(var(--img-width) * var(--img-quantity));
    position: relative;
    color: var(--dark-text-color);
    font-family: var(--ff-Roboto);
}

.marquee .marquee-content .marquee-item{
    width: var(--img-width);
    height: var(--img-hight);
    position: absolute;
    left: 100%;
    animation: marquee 30s linear infinite;
    animation-delay: calc(30s / var(--img-quantity) * (var(--position) - 1));
}

.marquee .marquee-content .marquee-item img{
    width: 100%;
}

/** About Section **/

.about-section {
    width: 100%;
    height: 100dvh;
    padding: 12rem 4.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--light-background-color);
    color: var(--dark-text-color);  
}

.about-content {
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align:center;
}

.about-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-description{ 
    font-size: 1.125rem;
    margin-bottom: 2rem;
    color: var(--dark-transparency);
}

.about-img{
    width: 100%;
    height:100%;
    max-width: 1200px;
    min-height: 600px;
    object-fit: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

/** Features Section **/

.features-section{
    width: 100%;
    height: 100%;
    padding: 12rem 4.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(180deg, var(--light-background-color) 0%,var(--secondary-color) 5%);
    color: var(--dark-text-color);
}

.features-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 600px;
}

.features-title{
    color: var(--dark-text-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.features-description{
    font-size: 1.125rem;
    margin-bottom: 2rem;
    color: var(--dark-transparency);
}

.features-wrapper{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display:flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    /*display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gird-template-rows: repeat(2, 1fr);
    border: 1px solid white;
    justify-items: center;*/
}

.features-item{
    width: 100%;
    max-width: 325px;
    height: 330px;
    background-color: var(--light-transparency);
    backdrop-filter: blur(10px);
    box-shadow: var(--dark-shadow);
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: var(--dark-text-color);
}

.features-item svg{
    width: 2rem;
    color: var(--primary-color);
}
.features-item-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.features-item-description{
    font-size: 1.125rem;
    width: 90%;
    color: var(--dark-transparency);
}

/** Qualities Section **/
.qualities-wrapper{
    margin-top: 6rem;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.qualities-content{
    text-align: center;
}

.qualities-title{
    font-size: 1.5rem;
}
.qualities-description{
    font-size: 1.125rem;
    margin-top: 1rem;
    color: var(--dark-transparency);
}

.qualities-boxes {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.quality-box{
    width: 100%;
    max-width: 300px;
    height: 158px;
    padding: 1rem;
    background-color: var(--light-transparency);
    box-shadow: var(--dark-shadow);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.quality-box svg{
    width: 2rem;
    height: 2rem;
    color: var(--primary-color);
}

.quality-box-title{
    font-size: 1.125rem;
    color: var(--dark-text-color);  
}

.quality-box-description{
    font-size: 1rem;
    color: var(--dark-transparency);
}


/** Contact Section **/

.contact-section{
    width: 100%;
    height: 100dvh;
    padding: 12rem 4.75rem;
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--light-background-color) 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: var(--dark-text-color);
}

.contact-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

iframe {
    border:none;
    border-radius: 12px;
    width: 100%;
    max-width: 750px;
    height: 100%;
    max-height: 700px;
}

.contact-info-wrapper{
    width: 100%;
    max-width: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
}

.contact-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;
    height: 120px;
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--light-background-color);
    box-shadow: var(--dark-shadow);    
}

.contact-info-box svg{
    width: 1.5rem;
    height: 1.5rem;
}

.contact-info-description{
    color: var(--dark-text-color-transparency);
    font-size: 1rem;
}

.btn-form{
    : center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
            justify-content: center;
    align-items: start;
}

input{
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding: 0 1rem;
    border-radius: 12px;
    box-shadow: var(--dark-shadow);
    border:none;
}

input::placeholder, textarea::placeholder{
    color: var(--dark-text-color-transparency);
    font-family: var(--ff-Roboto);
    font-size: 1rem;
}

textarea{
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 350px;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    box-shadow: var(--dark-shadow);
    resize: none;

}

    /** Animations **/

@keyframes float {
    0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-50px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes marquee{
    from{
        left:100%;
    }to{
        left:calc(var(--img-hight) * -1)
    }
}


.service-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  -webkit-mask-image: var(--service-icon);
  mask-image: var(--service-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.security-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  -webkit-mask-image: var(--security-icon);
  mask-image: var(--security-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mail-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  -webkit-mask-image: var(--mail-icon);
  mask-image: var(--mail-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.location-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  -webkit-mask-image: var(--location-icon);
  mask-image: var(--location-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.phone-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  -webkit-mask-image: var(--phone-icon);
  mask-image: var(--phone-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.arrow-right {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: .5rem;
  background-color: var(--light-text-color);
  -webkit-mask-image: var(--arrow-right);
  mask-image: var(--arrow-right);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
transition: all .3s ease;
}

.info-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: .5rem;
  background-color: var(--light-text-color);
  -webkit-mask-image: var(--info-icon);
  mask-image: var(--info-icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}