
<article class="w-full px-4 pt-24">
    <div class="w-full flex flex-col items-center justify-center gap-8">
        <section class="w-full text-[#00808D] text-center">
            <h2 class="text-3xl font-bold mb-2">First Section</h2>
            <p class="text-[#1a1a1a]/60">This is the first section on this page. Here you will find crucial information of the website.</p>
        </section>
        <section class="w-full h-56 border rounded-xl mb-4">
            <video class="w-full h-full object-cover" src="" controls muted></video>
        </section>
        <div class="w-full flex items-center justify-center gap-6 flex-wrap">
            <div class="w-[166px] h-28 shadow-xl rounded-xl flex flex-col items-center justify-center text-center p-4">
                <span class="text-2xl text-[#00808D] font-bold">500+</span>
                <p class="text-[#1a1a1a]/80 text-lg">Companies Satisfied</p>
            </div>
            <div class="w-[166px] h-28 shadow-xl rounded-xl flex flex-col items-center justify-center text-center p-4">
                <span class="text-2xl text-[#00808D] font-bold ">100%</span>
                <p class="text-[#1a1a1a]/80 text-lg">Personal Attention</p>
            </div>
            <div class="w-[166px] h-28 shadow-xl rounded-xl flex flex-col items-center justify-center text-center p-4">
                <span class="text-2xl text-[#00808D] font-bold ">24/7</span>
                <p class="text-[#1a1a1a]/80 text-lg">Technical Support</p>
            </div>
            <div class="w-[166px] h-28 shadow-xl rounded-xl flex flex-col items-center justify-center text-center p-4">
                <span class="text-2xl text-[#00808D] font-bold ">10+</span>
                <p class="text-[#1a1a1a]/80 text-lg">Years of Experience</p>
            </div>

        </div>
    </div>
</article>