---
import { Icon } from 'astro-icon/components';
---
<header id="header" class="w-full h-12 sticky top-0 z-10 transition duration-200 bg-(--color-primary)">
    <div class="w-full h-full flex items-center justify-center">
        <Icon name="mdi:dev-to" size={40} color="white" />
    </div>
</header>

